body {
    margin-top: 120px;
    background-color: rgb(10, 10, 10);
    color: rgb(246, 246, 246);
}

button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 40px;
    width: 80px;
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(246, 246, 246);
    color: rgb(246, 246, 246);
}

#player-choice, #round, #score, #final {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}